* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    background-color: aqua;
    height: 750px;
    width: 750px;
}

table {
    border-spacing: 0;
    padding: 0;
    border: 5px solid black;
}

td {
    width: 75px;
    height: 75px;
    background-color: #fff;
    text-align: center;
    border: 3px solid black;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}

.height-525 {
    height: 525px;
}

.height-225 {
    height: 225px;
}

.width-450 {
    width: 450px;
}

.width-150 {
    width: 150px;
}